
 *{
    border: 0;
    padding: 0;
    box-sizing: border-box;
} 
 
#wrapper{
    height:100vh;
    overflow-x:hidden;  /*dont slide in x ,fix*/
    overflow-y: auto;   /*in y yes*/
    perspective: 10px;   /*on perspective specifies we are behind by 10 so on 3d*/

}
.container{
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;  /*to preserve 3d*/
    /* z-index: -1;                   for overlaping */
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
.background, .foreground{
    position: absolute;
    height:100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;   /*fit image in container*/
}
/* now adventure fastest
uncle slower
pahad slowest */